<footer class="page-footer font-small special-color-dark pt-4">
  <div class="container">
  	<div class="row">

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1">
  				<b>JOINT STOCK COMPANY</b>
  				<br/>
  				<div class="adress">
  					<p>Adress: Mico Complex Building - 102 Truong Trinh - Dong Da District - Ha Noi</p>
  				</div> 
  				<div class="call-out">
  					<div class="phone">
  						<h6>Phone: +8424 - 7586.1231 </h6>
  					</div>
  					<div class="hotline">
  						<h6>Fax: +8424 - 7586.1231 </h6>
  					</div>
					<div class="email">
						<h6>Email: kubach10x@gmail.com</h6>
					</div>
  				</div>
  				<div class="department">
  					<%= image_tag("logoSaleNoti.png",width: '120', :alt => "logo",class:'responsive') %>
  				</div>
  				<h7>© 2020 Fashion.com</h7>
  			</div>
  		</div>

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1">
  				<b>TRADEMARK</b>
  				<br/>
  				<li class="tradmark">
                	<%= link_to  "Contact us", contact_path, class: "link" %>
            	</li>
	            <li class="tradmark">
	                <%= link_to  "Delivery", delivery_path, class: "link" %>
	            </li>
	            <li class="tradmark">
	                <%= link_to  "Gift Cards", gift_path, class: "link" %>
	            </li>
	            <li class="tradmark">
	                <%= link_to  "Blog",blog_path, class: "link" %>   
	            </li>
	            <li class="tradmark">
	                <%= link_to  "Recruitment",blog_path, class: "link" %>   
	            </li>
	            <li class="tradmark">
	                <%= link_to  "System Of Goods",blog_path, class: "link" %>   
	            </li>
  			</div>
  		</div>	

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1">
  				<b>SUPPORT</b>
  				<br/>
  				<li class="tradmark">
                	<%= link_to  "Set uniform", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Shipping policy", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Contact us", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Instructions for choosing a size", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Instructions for payment getway", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Check orders", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Regulations exchange", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Friendly customer policy", contact_path, class: "link" %>
            	</li>
            	<li class="tradmark">
                	<%= link_to  "Information security policy", contact_path, class: "link" %>
            	</li>
  			</div>
  		</div>

  		<div class="col-md-3 col-sm-3 col-3">
  			<div class="part-1 private">
  				<div class="conect">
  					<b class="signup"> Sign to take information</b>
  					<div class="input-group mb-3">
  						<input type="text" class="form-control reply" placeholder="Enter you email" aria-label="Recipient's username" aria-describedby="button-addon2">
  						<div class="input-group-append">
    						<button class="btn btn-outline-secondary" type="button" id="button-addon2">Sign</button>
  						</div>
					</div>
  				</div>
  				<div class="payment-dowload">
  						<div class="dowload">
  							<b>Connective</b>
  							<div class="aplication">
  								<div class="row">
  									<div class="fb">
  										<i class='fab fa-facebook-square' style='font-size:36px'></i>
  									</div>
  									<div class="fb">
  										<i class="fab fa-instagram" style="font-size:36px"></i>
  									</div>
  									<div class="fb">
  										<i class="fab fa-twitter-square" style="font-size:36px"></i>
  									</div>
  									<div class="fb">
  										<i class="fab fa-youtube" style="font-size:36px"></i>
  									</div>
  								</div>
  							</div>
  						</div>
  						<div class="payment">
  							<%= image_tag("payment.png",width: '150', :alt => "logo",class:'responsive') %>
  						</div>
  				</div>
  			</div>
  		</div>

  	</div>
  </div>
</footer>