
    <nav class="navbar navbar-expand-sm navbar-light justify-content-center">
        <ul class="nav navbar-nav topper">
            <li class="nav-item">
                <%= link_to  "Contact us", contact_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to  "Delivery", delivery_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to  "Gift Cards", gift_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to  "Blog",blog_path, class: "nav-link" %>   
            </li>
            <li class="nav-item">
                <%= link_to  "Login", "#", class: "nav-link" %>   
            </li>
        </ul>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <span class="oi oi-cart"></span>
            </li>
        </ul>
    </nav>