<div class="container-fluid">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <%= image_tag("back.jpg", :alt => "rss feed", class:'responsive') %>
                <div class="content">
                    <h2>Get up to 30% Off</h2>
                    <h2>New Arrival</h2>
                    <%= button_to  sale_path ,class: "btn btn-light" do %>
                        Shopping Cart <i class="fa fa-shopping-cart"></i>
                    <% end %>
                </div>
            </div>
            <div class="carousel-item">
                <%= image_tag("backgruond.jpg", :alt => "rss feed", width:"1850", class:'responsive') %>
            </div>
        </div>
         <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>  
</div>
<div class="container-fluid">
    <div class="shipper" style="background-color: #ffffff; margin-top: 5px;">
        <p style="text-align: center;">
            <i class="fa fa-truck" style="font-size:15px;"></i><b class="shipping">  Free ship for orders of $99 or more
            </b>
        </p>
    </div>
</div>
<div class="container">
    <div class="summer">
        <%= link_to clothing_path do %>
            <%= image_tag("show.jpeg", :alt => "rss feed", class:'responsive') %>
        <% end %>
    </div>
    <div class="summer-1">
        <%= link_to clothing_path do %>
            <%= image_tag("summer.jpeg", :alt => "rss feed", class:'responsive') %>
        <% end %>
    </div>
</div>
<div class="container">
    <div class="col-md-12">
            <hr  width="30%" align="center" /> <h4> New products </h4>
    </div>
    <div class="row">

        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product-one">
                    <%= image_tag("t-shirt.webp", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
                <div class="text-block">
                   <span></span>
                   <span></span>
                   <span></span>
                   <span></span>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product_two">
                    <%= image_tag("t-shirt(1).webp", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
                <div class="middlex">
                    <div class="text">
                        <% button_to "#", class: "btn btn-outline-dark" do%>
                            <i class='fas fa-cart-plus' style='font-size:36px'></i> Quick buy
                        <%end%>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product_two">
                    <%= image_tag("t-shirt(2).webp", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product-three">
                    <%= image_tag("t-shirt(3).webp", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
            </div>    
        </div>

        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product-three">
                    <%= image_tag("jean(2).jpg", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
                <div class="product-three">

                </div>
            </div> 
        </div>

        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product-three">
                    <%= image_tag("jean.jpg", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
            </div> 
        </div>

        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product-three">
                    <%= image_tag("jean.jpg", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
            </div> 
        </div>
        
        <div class="col-md-3 col-sm-3 col-12">
            <div class="product">
                <div class="product-three">
                    <%= image_tag("jean.jpg", :alt => "rss feed",width: '100%', class:'responsive') %>
                </div>
            </div> 
        </div>
    </div>
</div>




        
        
       
