<!DOCTYPE html>
<html>
  <head>
    <title>Fashion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div id="first-page" class="fixed-top">
        <%= render  "fashion_pages/topper" %>
        <%= render    "fashion_pages/place_for_logo"%>
        <%= render  "fashion_pages/header" %>
      </div>
    </div>
      <%= yield %>
      <hr width="100%">
      <%= render  "fashion_pages/footer" %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </body>
</html>